
@model projekt.Models.Order



<header class="pageheader pageadmin">
    <div class="left">
        <a class="logo" asp-action="Index" asp-controller="Home"><img src="~/images/icon.png" alt=""> <h1>Planet Vinyl</h1></a>
    </div>
</header>

<div class="innerbody pageinner pageadmin">

    <div class="cartcontainer">

        @if (ViewBag.Confirmed == "confirmed" && ViewBag.Loggedin == "Confirmed")
        {
        <div class="innercart orderbox">
            <h2>Din beställning har lagts!</h2>
            En orderbekräftelse har skickats (kan ta ett par minuter) till din mailadress: @ViewBag.Userinfo.Mail.
            <br /> Vi jobbar på att skicka ut din beställning så snabbt som möjligt. <br /><br />
                                                                                     <h2>Tack för att du handlar hos Planet Vinyl!</h2>
            <i class="check fas fa-check-circle"></i>

        </div>
                }


                @if (ViewBag.CurrentCart > 0)
                {
                    <div class="innercart firstbox">
                        <h2>Varukorg</h2>

                        @{
                            var totalsum = 0;
                        }

                        @foreach (var item in ViewBag.Query)
                        {

                            <div class="cartflex">
                                <img src="@item.image" alt="Skivomslag för @item.name" />
                                <span class="information">
                                    <b>@item.name</b>

                                    @item.artist
                                </span>

                                <span class="albumprice"><span id="@(item.id)total">@(item.price * item.quantity)</span> kr</span>

                                <span class="cartquantity"> <i onclick="ChangeQuantity(-1, @item.id, @item.price, @item.max)" class="fas fa-minus-circle"></i><span id="@item.id"> @item.quantity </span>  <i onclick="ChangeQuantity(1, @item.id, @item.price, @item.max)" class="fas fa-plus-circle"></i> </span>


                                <span class="x"><a asp-action="Remove" asp-controller="Home" asp-route-id="@item.id"><i class="fas fa-times"></i></a> </span>
                            </div>
                            <h3>@item.name</h3>

                            totalsum = totalsum + (item.price * item.quantity);
                        }

                        <div class="text-right"><b>Summa: </b> <span id="totalcost">@totalsum</span> kr</div>
                        <div class="text-right"><b>Frakt: </b><span id="shippingcost">39</span>  kr</div>
                        <div class="text-right"><b>Totalt: </b><span id="totaltotalcost"> @((totalsum + 39))</span> kr</div>

                    </div>


                    @if (ViewBag.Loggedin == "Confirmed")
                    {

                        <form asp-action="Checkout">

                            <div class="innercart">
                                <h2>Leveranssätt</h2>
                                <div class="innerorder">
                                    <label onclick="getShipping(79)" class="container">
                                        Hemleverans
                                        <br />
                                        <small class="smaller">5-7 dagar</small>
                                        @Html.RadioButtonFor(m => m.Shipping, "79")

                                        <span class="checkmark"></span>
                                        <span class="rightside">79 kr</span>
                                    </label>
                                    <label class="container" id="standardshipping" onclick="getShipping(39)">
                                        Standardleverans
                                        <br />
                                        <small class="smaller">1-3 dagar</small>
                                        <img src="https://ps.w.org/dhl-for-woocommerce/assets/banner-772x250.png?rev=1777040" alt="Alternate Text" />
                                        @Html.RadioButtonFor(m => m.Shipping, "39")
                                        <span class="checkmark"></span>

                                        <span class="rightside">39 kr</span>
                                    </label>
                                    <label class="container" onclick="getShipping(0)">
                                        Fri Frakt
                                        <br />
                                        <small class="smaller">7-9 dagar</small>
                                        <img src="~/images/postnord.svg" alt="Alternate Text" />
                                        @Html.RadioButtonFor(m => m.Shipping, "0")
                                        <span class="checkmark"></span>
                                        <span class="rightside">0 kr</span>
                                    </label>


                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <input onkeyup="fillField('address')" id="addressinput" asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Zip" class="control-label"></label>
                                        <input onkeyup="fillField('zip')" id="zipinput" asp-for="Zip" class="form-control" />
                                        <span asp-validation-for="Zip" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="City" class="control-label"></label>
                                        <input onkeyup="fillField('city')" id="cityinput" asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>


                                </div>

                            </div>


                            <div class="innercart lastbox">
                                <div class="innerorder">
                                    <h2>Slutför köp</h2>
                                    <h4>Dina uppgifter</h4>
                                    <div class="smallerbox">
                                        <b> @ViewBag.UserInfo.FirstName  @ViewBag.UserInfo.LastName</b>
                                        <br />
                                        <span id="address"></span> <span id="zip"></span>  <span id="city"></span>
                                        <br />
                                        @ViewBag.UserInfo.Mail
                                    </div>

                                    <h4>Betalsätt</h4>
                                    <div class="smallerbox">
                                        <b>Få först. Betala sen.</b>
                                        <br />
                                        Betala inom 14 dagar -  0 SEK
                                        <img src="https://res.cloudinary.com/dktx1oojk/image/upload/f_auto,q_90,w_1000,c_scale/web/globalassets/se/hasselby-veterinarpraktik/bilder/klarna_paymentbadge_outsidecheckout_pink.png" alt="Alternate Text" />

                                        <br />
                                        <small><a href="#">Villkor</a></small>
                                    </div>

                                    Totalbelopp inkl. moms
                                    <h3><span id="totalsumtext">@(totalsum + 39)</span> SEK</h3>

                                    <div class="form-group">
                                        <input type="submit" value="Slutför köp" class="btn btn-primary" />
                                    </div>

                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                    <small>
                                        **** OBS DETTA ÄR ENDAST EN PROTOTYP **** <br />
                                        Genom att klicka på "Slutför köp" godkänner jag Klarnas Användarvillkor och bekräftar att jag har läst Klarnas Dataskyddspolicy. Jag godkänner villkoren för Planet Vinyl.


                                    </small> <br />

                                    <img src="https://seekvectorlogo.com/wp-content/uploads/2019/11/klarna-vector-logo.png" alt="Alternate Text" />
                                </div>
                            </div>




                        </form>


                    }

                    @if (ViewBag.Loggedin != "Confirmed")
                    {
                        <div class="innercart lastbox">
                            <div class="innerorder">

                                <h3><a asp-action="Login" asp-controller="Home" asp-route-id="checkout">Logga in</a> eller <a asp-action="Register" asp-controller="Home" asp-route-id="checkout">Registrera dig</a>  för att lägga en beställning.</h3>
                            </div>
                        </div>
                    }


                }

                else
                {
                    <div class="innercart firstbox">
                        <h2>Varukorg</h2>
                        <h4>Din varukorg är tom.</h4>
                    </div>
                }















            </div>






        </div>